In [25]:
import pandas as pd
import numpy as np

In [24]:
from bs4 import BeautifulSoup
import requests
import re
import matplotlib.pyplot as plt

In [3]:
url = 'https://www.imdb.com/list/ls033935095/' # inputting the url

In [4]:
r = requests.get(url)

In [5]:
r.status_code # checking to see if the status is good, 200 works

200

In [6]:
soup = BeautifulSoup(r.content, "html.parser") # making Beautiful Soup

In [7]:
# Extracting all of the movie titles
Title = []
title = soup.select('div h3 a')
for titles in title:
    Title.append(titles.string)

In [8]:
# Extracting all of the years
Year = []
year = soup.find_all(class_ = 'lister-item-year text-muted unbold')
for years in year:
     Year.append(years.string.replace('(','').replace(')',''))

In [9]:
# Forming the rank column
Rank = [x for x in range(1,65,1)]

In [10]:
# Extracting all of the Genres
Genre = []
genre = soup.find_all(class_ = 'genre')
for genres in genre:
     Genre.append(genres.string.replace('\n','').replace(' ',''))

In [11]:
# Extracting the ratings
Rating = []
rating = soup.find_all(class_ = 'certificate')
for ratings in rating:
     Rating.append(ratings.string)

In [12]:
# Extracting the runtimes
Runtime = []
runtime = soup.find_all(class_ = 'runtime')
for runtimes in runtime:
     Runtime.append(runtimes.string)

In [18]:
# Extracting the Star Ratings
Star = []
star = soup.find_all(class_ = 'ipl-rating-star__rating')[::23]
for stars in star:
     Star.append(stars.string)

64

In [19]:
# Putting into a Dataframe
df = pd.DataFrame({
    'Title' : Title,
    'Year' : Year,
    'Genre' : Genre,
    'Star Rating' : Star
})

In [20]:
# Adding columns
df['Rank'] = Rank
df['Genre'] = Genre
df['Runtime'] = Runtime
df['Rating'] = Rating

In [26]:
df

,Title,Year,Genre,Star Rating,Rank,Runtime,Rating
0,The Wizard of Oz,1939,"Adventure,Family,Fantasy",8.1,1,102 min,PG
1,The Third Man,1949,"Film-Noir,Mystery,Thriller",8.1,2,93 min,Approved
2,Citizen Kane,1941,"Drama,Mystery",8.3,3,119 min,PG
3,Modern Times,1936,"Comedy,Drama,Romance",8.5,4,87 min,G
4,All About Eve,1950,Drama,8.2,5,138 min,Passed
...,...,...,...,...,...,...,...
59,Anatomy of a Murder,1959,"Drama,Mystery",8,60,161 min,Not Rated
60,Annie Hall,1977,"Comedy,Romance",8,61,93 min,PG
61,The Leopard,1963,"Drama,History",8,62,186 min,PG
62,Chinatown,1974,"Drama,Mystery,Thriller",8.2,63,130 min,R
63,The Best Years of Our Lives,1946,"Drama,Romance,War",8.1,64,170 min,Approved

In [29]:
df.to_csv("moviedata.csv", sep = '\t')